<h1><%= @board.name %></h1>
<ul>
  <%# Cannot figure out why the View Billbord link below won't work. Maybe using the wrong route? %>
<%# link_to "View Billboard", board_artist_path(@board, @artist) %>
<li><%= link_to "Edit Billboard", edit_board_path %></li>
<li><%= link_to "Delete Billboard", @board, method: :delete %></li>
<li><%= link_to "Add Artist", new_board_artist_path(@board) %></li>
<li><%= link_to "Back", boards_path %></li>
</ul>
